{% extends 'main.html' %}

{% block content %}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 20px; 
    }
    .side-container {
               color: red;
        background-color: #f5f5f5;
    }

</style>

<div class="home-container">
    <div class="side-container">
        <h3>Browse Topics</h3>
        <hr>
        <a href="{% url 'home' %}">All</a>
        {% for topic in topics %}
        <div>
            <a href="{% url 'home' %}?q={{ topic.name }}">{{ topic.name }}</a>
        </div>
        {% endfor %}
    </div>
    <div>
        <h5>{{room_count}} Rooms available</h5>
        <a href="{% url 'create-room' %}">Create Room</a>

        {% for room in rooms %}
        <div>
            <a href="{% url 'update-room' room.id %}">Edit</a>
            <span>@{{ room.host.username }}</span>
            <h5>{{ room.id }} -- <a href="{% url 'room' room.id %}">{{ room.name }}</a></h5>
            <small>{{ room.topic.name }}</small>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
