<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study</title>
    {% include 'navbar.html' %}

</head>
<hr>

 
<body>
    <style>
        
    </style>
    <div class="container">
        
    <a href='{%url 'create-room' %}'>Create Room</a>
    
    <div>
        {% for room in rooms %}
        
        <div>
            <a href='{%url 'update-room' room.id %}'>Edit</a>
            <span>@{{room.host.username}}</span>
            <h5>{{room.id}} --<a href="{% url 'room' room.id%}">{{room.name}}</a></h5>   
            <smaLL>{{room.topic.name}}</smaLL>
            <hr>
        </div>
        {% endfor %}
    </div>
    <div>

</body>
</html>